NEXT_PUBLIC_PRIVY_APP_ID=your_privy_app_id
PRIVY_APP_SECRET=your_privy_app_secret

NEXT_PUBLIC_BSC_TESTNET_RPC_URL=https://bsc-testnet.bnbchain.org
BSC_TESTNET_RPC_URL=https://bsc-testnet.bnbchain.org
NEXT_PUBLIC_RPC_URL=https://bsc-testnet.bnbchain.org
RPC_URL=https://bsc-testnet.bnbchain.org

SPONSOR_PRIVATE_KEY=0xYOUR_SPONSOR_PRIVATE_KEY

NEXT_PUBLIC_PRIVY_ADMIN_PROXY_ADDRESS=0xYOUR_PRIVY_ADMIN_PROXY_ADDRESS
PRIVY_ADMIN_PROXY_ADDRESS=0xYOUR_PRIVY_ADMIN_PROXY_ADDRESS
NEXT_PUBLIC_PRIVY_LOGICAL_ADDRESS=0xYOUR_PRIVY_LOGICAL_ADDRESS
PRIVY_LOGICAL_ADDRESS=0xYOUR_PRIVY_LOGICAL_ADDRESS

NEXT_PUBLIC_SPONSORED_TOKEN_ADDRESS=0x741022f045Bbe7d020ebEdbB376743B63fea28e6
NEXT_PUBLIC_SPONSORED_TRANSFER_TO_ADDRESS=0x0812aba96cd9a62b38c30e33020b1a76017d9ba1
